.main-page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

.main-page-wrapper h1{
    text-decoration: underline;
    display: flex;
    justify-content: center;
    font-family: cursive;
    animation-duration: 1.5s;
    animation-name: slidein;
}

.main-page-wrapper div {
    display: flex;
    flex-direction: column;
}

.main-page-img-wrapper {
    align-items: center;
}

.main-page-img-wrapper image {
    transform: rotate(-25deg)
}

.rotate_01 {
    -webkit-transition: -webkit-transform 1s;
}

.rotate_01:hover {
    -webkit-transform: rotate(360deg) translateZ(0);
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}