.chat-body-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
}

.chat-body-wrapper >.base-msg:hover{
    border: 4px solid;
}

.base-msg {
    border-radius: 10px;
    margin: 1%;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    animation-duration: 0.2s;
}

.base-msg div:nth-child(1) {
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 20;
}

.base-msg div:nth-child(2) {
    flex-grow: 1;
}

.sender {
    animation-name: slideinSender;
    background-color: #4c4cdf;
    justify-content:  flex-end;
}

.sender div:nth-child(1) {
    margin: 1%;
}

.receiver {
    animation-name: slideinReceiver;
    background-color: #0d6efd;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.receiver div:nth-child(1){
    margin: 1%;
}

.person-time-wrapper {
    margin: 1%;
    max-width: 20%;
}

.person-time-wrapper div:nth-child(1){
    font-weight: bold;
}

.person-message-wrapper div {
    white-space: nowrap;
    overflow: hidden;
    max-width: 50%;
    text-overflow: ellipsis;
}

.spinner-container {
    display: flex;
    justify-content: center;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #4c4cdf;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@keyframes slideinReceiver {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slideinSender {
    from {
        margin-right: 100%;
        width: -300%;
    }

    to {
        margin-right: 0%;
        width: -100%;
    }
}